<html>
<div class="cruDemo-content">
    <h1 class="page-title">My Todos</h1>
    <div class="cruDemo-create">
      <form #todocrudemoForm="ngForm" (ngSubmit) = "createTodocrudemo(todocrudemoForm)" novalidate>
        <input type="text" id="title" class="form-control" placeholder="Name a todo and press enter..."
               required
               name="title" [(ngModel)]="newTodocrudemo.title"
               #title="ngModel" >
        <div *ngIf="title.errors && title.dirty"
             class="alert alert-danger">
            <div [hidden]="!title.errors.required">
              Title is required.
            </div>
        </div>
      </form>
    </div>
    <ul class="cruDemo-list">
      <li *ngFor="let cruDemo of todos" [class.completed]= "cruDemo.completed === true" >
        <div class="cruDemo-row" *ngIf="!editing || editingTodocrudemo.id != cruDemo.id">
            <a class="cruDemo-completed" (click)="toggleCompleted(cruDemo)">
              <i class="material-icons toggle-completed-checkbox"></i>
            </a>
            <span class="cruDemo-title">
              {{cruDemo.title}}
            </span>
            <span class="cruDemo-actions">
                <a (click)="editTodocrudemo(cruDemo)">
                  <i class="material-icons edit">edit</i>
                </a>
                <a (click)="deleteTodocrudemo(cruDemo.id)">
                  <i class="material-icons delete">clear</i>
                </a>
            </span>
        </div>
        <div class="cruDemo-edit" *ngIf="editing && editingTodocrudemo.id === cruDemo.id">
            <input class="form-control" type="text"
             [(ngModel)]="editingTodocrudemo.title" required>
            <span class="edit-actions">
                <a (click)="updateTodocrudemo(editingTodocrudemo)">
                  <i class="material-icons">done</i>
                </a>
                <a (click)="clearEditing()">
                  <i class="material-icons">clear</i>
                </a>
            </span>
        </div>
      </li>
    </ul>
    <div class="no-todocrudemos" *ngIf="todocrudemos && todocrudemos.length == 0">
        <p>No Todocrudemos Found!</p>
    </div>
</div>
</html>